@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D1117;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.honk-font {
  font-family: var(--font-honk), sans-serif;
}

.poppins-font {
  font-family: var(--font-poppins), sans-serif;
}

.robotoMono-font {
  font-family: var(--font-roboto-mono), sans-serif;
}

.spaceGrotesk-font {
  font-family: var(--font-space-grotesk), sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.before-h3 {
  content: '<h3>';
  position: absolute;
  top: -1.5rem; /* -top-6 équivaut à -1.5rem */
  left: -1.25rem; /* -left-5 équivaut à -1.25rem */
  opacity: 0.3;
}

.after-h3 {
  content: '</h3>';
  position: absolute;
  bottom: -1.5rem; /* -bottom-6 équivaut à -1.5rem */
  left: -1.25rem; /* -left-5 équivaut à -1.25rem */
  opacity: 0.3;
}

html {
  --cursor-color: #fff
}

html.dark-mode {
  --cursor-color: #333
}


.holographic-card {
  position: relative;
  background: #161B22;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    rgba(168, 85, 247, 0.5),  /* Purple-500 */
    rgba(236, 72, 153, 0.5),  /* Pink-500 */
    rgba(56, 189, 248, 0.5),  /* Cyan-500 */
    rgba(52, 211, 153, 0.5)   /* Emerald-400 */
  );
  background-size: 300%;
  border-radius: 50%;
  z-index: -20;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.holographic-card:hover::before {
  opacity: 1;
  transform: scale(1.2);
  animation: holographic-animation 2.5s infinite;
}


.holographic-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.s-mask {
  -webkit-mask: url(/mask4.svg);
  mask: url(/mask4.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%; /* Réduit le masque à 50% de la taille de l'élément */
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
}



@keyframes holographic-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


